# global settings

[global]
newrelic_license_key=<%= @license_key %>
poll_interval=60

# logging settings

[loggers]
keys=root

[handlers]
keys=consoleHandler,fileHandler

[formatters]
keys=simpleFormatter

[logger_root]
level=DEBUG
handlers=consoleHandler,fileHandler

[handler_consoleHandler]
class=StreamHandler
level=DEBUG
formatter=simpleFormatter
args=(sys.stdout,)

[handler_fileHandler]
class=FileHandler
level=DEBUG
formatter=simpleFormatter
args=('<%= @log_file %>','a',)

[formatter_simpleFormatter]
format=%(asctime)s %(name)s [%(levelname)s]: %(message)s
datefmt=

# data sources settings

<% @sources.each_pair do |key, source| %>
[<%= key %>]
name=<%= source['name'] %>
url=<%= source['url'] %>  
<% end %>
